/*
 * --------------------------------------------------
 * Variables de colores
 * --------------------------------------------------
 */
html {
    --color1: #FCF0F0;
    --color2: #D1C8F4;
    --color3: #AE9DEF;
    --color4: #9B2929;
    --color5: #531A4A;
}

/*
 * --------------------------------------------------
 * Estilos generales del body
 * --------------------------------------------------
 */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 1000;
    font-style: italic;
    font-variation-settings: "wdth" 400;
    margin: 0;
    padding: 0;
}

/*
 * --------------------------------------------------
 * Estilos del Navbar
 * --------------------------------------------------
 */
.navbar {
    background-color: transparent;
}

.navbar-brand {
    font-size: 40px;
    color: var(--color1);
}

/*
 * --------------------------------------------------
 * Estilos de los Titulares
 * --------------------------------------------------
 */
h1 {
    margin: 100px 0 50px;
    font-size: 42px;
    font-weight: 900;
}

h2 {
    text-align: center;
    font-size: 50px;
    color: var(--color5);
}

/*
 * --------------------------------------------------
 * Estilos de la Portada
 * --------------------------------------------------
 */
.portada {
    width: 100%;
    background-image: url('../images/productos3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color1);
    text-align: center;
    padding: 50px 0;
}

.portada h1,
.portada p{
    color: #FCF0F0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/*
 * --------------------------------------------------
 * Estilos de los Botones
 * --------------------------------------------------
 */
.btn {
    font-size: 20px;
    border-width: 3px;
}

/* Botones personalizados */
.btn-outline-primary {
    --bs-btn-border-color: none;
    --bs-btn-color: var(--color5);
    background-color: var(--color3);
    border-radius: 20px;
    width: 120px;
    height: 50px;
}

.btn-servicios {
    background-color: var(--color5);
    color: var(--color1);
    border-radius: 20px;
    width: 120px;
    height: 60px;
    margin: 50px 0;
}

/*
 * --------------------------------------------------
 * Estilos del Párrafo general dentro de container-fluid
 * --------------------------------------------------
 */
.container-fluid p {
    margin: 100px 0;
    font-size: 16px;
}

/*
 * --------------------------------------------------
 * Estilos de la sección de Servicios
 * --------------------------------------------------
 */
.servicios {
    font-weight: 900;
    background-color: var(--color3);
}

.titulo-servicios {
    padding: 50px 0;
}

/*
 * --------------------------------------------------
 * Estilos de las Tarjetas de Servicio
 * --------------------------------------------------
 */
.card {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.card img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 0 auto;
}

.card h2 {
    margin: 20px 0 0;
}

/*
 * --------------------------------------------------
 * Estilos del Footer
 * --------------------------------------------------
 */
.footer {
    background-color: var(--color5);
    color: var(--color1);
    border-radius: 0;
    text-align: center;
    padding: 20px 0;
}