@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables de colores */
:root {
    --color1: #FCF0F0;
    --color2: #D1C8F4;
    --color3: #AE9DEF;
    --color4: #9B2929;
    --color5: #531A4A;
}

/* Estilos generales */
body {

    font-family: "Roboto", sans-serif;
    font-weight: 1000;
    font-style: italic;
    font-variation-settings: "wdth" 400;
    margin: 0;
    padding: 0;
    background-color: var(--color3);
}

.navbar {
    background-color: var(--color5);
  }

.navbar-toggler{
    background-color: #AE9DEF;
}
/* Titulares */
h1 {
    margin-top: 100px;
    font-size: 42px;
    font-weight: 900;
    color: var(--color5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Agrega sombra para mejor legibilidad */

}

h2 {
    font-size: 30px;
    color: var(--color5);
    font-weight: bold;
}

/* Navbar */
.navbar-brand {
    font-size: 40px;
    color: var(--color1); /* Mueve el color aquí para consistencia */
}

/* Botones generales */
.btn{
    font-size: 20px;
    border-width: 3px; /* Para asegurar consistencia */
}

.btn-acerca{
    color:var(--color1)
}

/* Botones personalizados */
.btn-outline-primary {
    --bs-btn-border-color:none;
    --bs-btn-color: var(--color5);
    background-color: var(--color3);
    border-radius: 20px;
    width: 120px;
    height: 50px;
}

.btn-servicios {
    background-color: var(--color5);
    color: var(--color1);
    border-radius: 20px;
    width: 120px;
    height: 60px;
    margin: 50px 0;
}
.card{
    border: none; /* Elimina borde innecesario */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.card-img-top {
    width: 500px; /* Ajusta el tamaño según sea necesario */
    height: 500px;
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor */
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

p{
    margin-left: 20px;
}

.parrafo{
    background-color: #D1C8F4;
    border-radius: 10%;
    padding: 50px;
}

