@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables de colores */
:root {
    --color1: #FCF0F0;
    --color2: #D1C8F4;
    --color3: #AE9DEF;
    --color4: #9B2929;
    --color5: #531A4A;
}

/* Estilos generales */
body {

    font-family: "Roboto", sans-serif;
    font-weight: 1000;
    font-style: italic;
    font-variation-settings: "wdth" 400;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
     /* Fondo blanco para que sea visible */
  }
/* Titulares */
h1 {
    margin: 100px 0 50px;
    font-size: 42px;
    font-weight: 900;
}

h2 {
    text-align: center;
    font-size: 50px;
    color: var(--color5);
}

/* Portada */
.portada {
    width: 100%;
    background-image: url('../assets/productos3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color1);
    text-align: center;
    padding: 50px 0; /* Añadido para consistencia */
}

.portada h1, .portada p, .portada a {
    color: #FCF0F0; /* Color claro para h1 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Agrega sombra para mejor legibilidad */
}



/* Navbar */
.navbar-brand {
    font-size: 40px;
    color: var(--color1); /* Mueve el color aquí para consistencia */
}

/* Botones generales */
.btn {
    font-size: 20px;
    border-width: 3px; /* Para asegurar consistencia */
}

/* Botones personalizados */
.btn-outline-primary {
    --bs-btn-border-color:none;
    --bs-btn-color: var(--color5);
    background-color: var(--color3);
    border-radius: 20px;
    width: 120px;
    height: 50px;
}

.btn-servicios {
    background-color: var(--color5);
    color: var(--color1);
    border-radius: 20px;
    width: 120px;
    height: 60px;
    margin: 50px 0;
}

/* Parrafo */
.container-fluid p {
    margin: 100px 0;
    font-size: 16px;
}

/* Servicios */
.servicios {
    font-weight: 900;
    background-color: var(--color3);
}

.titulo-servicios {
    padding: 50px 0;
}

/* Tarjetas */
.card {
    border: none; /* Elimina borde innecesario */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; /* Asegura consistencia */
}

.card img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 0 auto;
}

.card h2 {
    margin: 20px 0 0; /* Añade margen para separación */
}

/* Footer */
.footer {
    background-color: var(--color5);
    color: var(--color1);
    border-radius: 0;
    text-align: center; /* Asegura centrado del texto */
    padding: 20px 0; /* Mejora el espaciado */
}