@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

html{
    --color1:#FCF0F0;
    --color2:#D1C8F4;
    --color3:#AE9DEF;
    --color4:#9B2929;
    --color5:#531A4A;
}
 
body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: italic;
    font-variation-settings:
      "wdth" 400;
  }

h1{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 42px;
    font-weight: 900;

}

h2{
    text-align: center;
    font-size: 50px;
    color: var(--color5);

}

.portada{
    width: 100%; /* Ancho del div */
    background-image: url('../assets/productos3.jpg'); /* Ruta de la imagen */
    background-size: cover; /* Ajusta el tamaño para que cubra todo el div */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    color:var(--color1);
    text-align: center;
}

.navbar-brand{
    font-size: 40px;
}
.navbar{
    --bs-navbar-brand-color:var(--color1);
}

.btn{
    font-size:20px;
    --bs-btn-border-width:3px;

}

.container-fluid p{
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 16px;
}

.btn-outline-primary{
    --bs-btn-color:var(--color5);
    --bs-btn-border-color:var(--color4);
    background-color: var(--color3);
    border-radius: 20px;
    width: 120px;

}

.leer-mas{
    margin-top: 50px;
    margin-bottom: 50px;
}

.servicios{
    font-weight: 900;
    background-color: var(--color3);

}

.titulo-servicios{
    padding-top: 50px;
    padding-bottom: 50px;
}



.card{
    border:transparent;
    background-color: transparent;
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Asegura que los elementos estén en columna */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    text-align: center; /* Centra el texto dentro de los elementos */
    height: 100%;

}
.card img{
    border-radius: 50%; /* Hace que la imagen sea un círculo */
    width: 250px; /* Asegura un tamaño fijo para el ancho */
    height: 250px; /* Asegura un tamaño fijo para el alto */
    object-fit: cover; /* Ajusta la imagen para que siempre llene el círculo */
    margin: 0 auto;
}

.btn-servicios{
    background-color: var(--color5);
    --bs-btn-border-color:var(--color1);
    color: var(--color1);
    border-radius: 20px;
    width: 120px;
    margin-top: 50px;
    margin-bottom: 100px;
}